.startingText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridSize {
  font-size: 20px;
  border-radius: 8px;
}
button.gridSize:hover{
  background-color: rgb(196, 196, 196);
}
.title,
.gridSize {
  margin-bottom: 12px;
  text-align: center;
}
.drawingGrid{
    border-style: solid;
    flex: 1;
    margin: 12px;
    display: flex;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.bigDiv{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.lilDiv{
    flex: 1;
}
