.startingText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridSize {
  font-size: 20px;
}
.title,
.gridSize {
  margin-bottom: 12px;
  text-align: center;
}

