.startingText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridSize {
  font-size: 20px;
}
.title,
.gridSize {
  margin-bottom: 12px;
  text-align: center;
}
.drawingGrid{
    border-style: solid;
    flex: 1;
    margin: 12px;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
